
body {
background: url('https://imgur.com/0s1T3BF.jpg') no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-top: 50px;
}

h1 {
    color:rgb(36, 101, 151);
    font-family: 'Gaegu', sans-serif;
    font-size: 40px;
    margin-bottom: 2px;
    font-weight: bold;
}
h4 {
    margin-top: 10px;
    font
}
.border {
    background-color: rgba(99, 185, 203, 0.5);
    width : 300px;
    text-align: center;
    margin: 0 auto;
    padding: 1px 0 20px 0;
}
.button {
    background: rgb(226, 220, 195);
    height:26px; 
    width:26px;
    padding: 14px 20px 26px 20px;
    display: inline-block;
    text-align: center;
    font-size: 36px;
    
}


#resetButtonId {
    margin: 20px;
    background: rgb(246, 240, 215);
}

#score {
    margin: 0;
    list-style: none;
    padding: 0 0 0 5px;
}

#button1 {
    border-style: none solid solid none;
}
#button2 {
    border-style: none solid solid solid;
}
#button3 {
    border-style: none none solid solid;
}
#button4 {
    border-style: solid solid solid none;
}
#button5 {
    border-style: solid solid solid solid;
}
#button6 {
    border-style: solid none solid solid;
}
#button7 {
    border-style: solid solid none none;
}
#button8 {
    border-style: solid solid none solid;
}
#button9 {
    border-style: solid none none solid;
}

