h1 {
    color:blue;
}

.button {
    background: whitesmoke;
    height:20px; 
    width:20px;
    padding: 20px;
    display: inline-block;
    line-height:3;
  
}

#resetButtonId {
    margin: 20px;
}

#score {
    margin: 0;
    list-style: none;
    padding: 0 0 0 5px;
}

#button1 {
    border-style: none solid solid none;
}
#button2 {
    border-style: none solid solid solid;
}
#button3 {
    border-style: none none solid solid;
}
#button4 {
    border-style: solid solid solid none;
}
#button5 {
    border-style: solid solid solid solid;
}
#button6 {
    border-style: solid none solid solid;
}
#button7 {
    border-style: solid solid none none;
}
#button8 {
    border-style: solid solid none solid;
}
#button9 {
    border-style: solid none none solid;
}